main {
	padding: 3em 1em;
    display:flex;
    gap: var(--gap);
    justify-content: center;
    align-content: center;
}

.mainArea {
    width:100%;
    max-width: 42em;
}

aside {
    width: 15vw;
    min-width: 256px;
}