---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import DefaultPage from './DefaultPage.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<DefaultPage >
    <div class="prose">
        <div class="title">
            <h1>{title}</h1>
            <div class="date">
                <FormattedDate date={pubDate} />
                {
                    updatedDate && (
                        <div class="last-updated-on">
                            Last updated on <FormattedDate date={updatedDate} />
                        </div>
                    )
                }
            </div>
            <hr />
        </div>
        <slot />
    </div>
</DefaultPage>

