---
import BaseHead from '../components/BaseHead.astro';

import NameCard from '../components/NameCard.astro';
import Buttons from '../components/Buttons.astro';
import Window from '../components/Window.astro';

const { title, description } = Astro.props;

import '../styles/pages/default.css'
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
        <main>
            <aside class="sideGroup">
                <NameCard />
                <Buttons/>
            </aside>

            <div class="mainArea">
                <Window >
                    <slot />
                </Window>
            </div>
		</main>
	</body>
</html>
