---
import ModernNav from "../../components/modern/ModernNav.astro"
---

<html lang="en">
	<head>
		<!-- <BaseHead title={title} description={description} /> -->
	</head>

	<body>
        <header>
            <ModernNav />
        </header>
        <main>
        </main>
	</body>
</html>