:root {
    --cardRadius: 24px;
}
.cardContainer {
    width: calc(100vw * exp(-1));
    min-width: 260px;;
    margin: var(--cardRadius);
    filter: drop-shadow(0 0 var(--cardRadius) var(--cyan));
    transition: all;
    transition-duration: 1000;
    border: solid var(--cyan) 2px;
    border-radius: calc(var(--cardRadius) + 4px);
}
.cardSquare {
    background-color: var(--cyan);
    border-radius: var(--cardRadius) var(--cardRadius) 0 0;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.cardBody {
    border-radius: 0 0 var(--cardRadius) var(--cardRadius);
    color: white;
    font-family: 'RedHatMono', monospace;
    background-color: #13142C;
    padding: 32px 48px;
    line-height: 1;
}
.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardHeader > div {
    display: flex;
    flex-direction: row;
}
.cardHeader > h1 {
    font-family: 'RedHatMono', monospace;
    line-height: 1;
}
.cardLinks:hover {
    color: white;
}

.socialIcons {
    color: #00FFFF;
}

.cardBody > ul {
    list-style-type: ">";
    padding-left: 18px;
}
a {
    text-decoration: none;
}