.cardContainer {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    max-width: 25vw;
    margin: 24px;
    filter: drop-shadow(0 0 24px var(--cyan));
    transition: all;
    transition-duration: 1000;
}
.cardSquare {
    background-color: var(--cyan);
    border-radius: 24px 24px 0 0;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.cardBody {
    border-radius: 0 0 24px 24px;
    color: white;
    font-family: 'RedHatMono', monospace;
    background-color: #13142C;
    padding: 32px 48px;
    line-height: 1;
}
.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardHeader > div {
    display: flex;
    flex-direction: row;
}
.cardHeader > h1 {
    font-family: 'RedHatMono', monospace;
    line-height: 1;
}
.cardLinks:hover {
    color: white;
}

.socialIcons {
    color: #00FFFF;
}

.cardBody > ul {
    list-style-type: ">";
    padding-left: 18px;;
}