.profileGroup {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cyan);
    color: white;
    height: 40vh;
    padding: 0;
    margin-bottom: 12px;
}

.profileSquare {
    display: inline;
    background-color: var(--cyan);
    height: 100%;
    aspect-ratio: 1 / 1;
}

.profileName {
    margin: 16px;
    font-family: 'RedHatMono', monospace;
}

.profileHeader {
    background-color: var(--cyant);
    border: 1px solid var(--cyan);
    height: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
}

.profileNews {
    background-color: var(--bluet);
    border: 1px solid var(--cyan);
    padding: 14px;
    flex: 1 1 auto;
}
