.sideWindow {
    width:100%;
  height: 80vh;
  border:1px solid var(--cyan);
  display: flex;
  flex-flow: column;
}

.contentBox {
  overflow: hidden;
  overflow-wrap: break-word;
  hyphens: auto;
  color: white;
  border: 1px solid var(--cyan);
  background-color: var(--bluet);
  width: 100%;
  max-width: inherit;
  padding: 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 24px 48px;
}

.contentBox img {
    width: 100%;
}
