main {
	padding: 3em 1em;
    gap: var(--gap);
}

.mainArea {
    width:100%;
    max-width: 42em;
}

aside {
    width: 15vw;
    min-width: 256px;
}

body {
    /* Background */
    background: url('/bg.png') var(--bg-fill);
    background-size: 100%;
}

