.prose {
    color: white;
    max-width: 65ch;
    margin: 0 auto;
    font-family: "RedHatDisplay", sans-serif;
    line-height: 1.75;
    padding: 0 48px;
}

.prose p {
    font-family: "RedHatText", sans-serif;
    font-size: 1rem;
}

/* Images */
.prose p:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.prose img {
    max-width: 100%;
    width: 100%;
    height: auto !important;
    max-height: 360px;
    margin: 1.5rem auto;
}

.imgContainer {
    width: 100%;
}

.banner {
    width: auto;
}

.prose a {
    color: var(--cyan);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: opacity 0.2s;
}

.splash {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    margin-bottom: 48px;
}
.splash img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-position: center;
    object-fit: cover;
    transform-origin: center center;
}

@media only screen and (max-width: 960px) {
    .prose {
        padding: 0 24px;
    }
    .blogSplash {
        margin-bottom: 24px;
    }
}
