.desktop {
    display: grid;
    grid-template-columns: minmax(240px, 1fr) minmax(auto, 4fr);
    gap: 64px;
    width: 100%;
    min-height: calc(100vh - 2.2rem);
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 64px;
    box-sizing: border-box;
}

.desktop__sidebar {
    display: flex;
    flex-direction: column;
}

.desktop__files {
    flex-grow: 1;
}

@media only screen and (max-width: 960px) {
    .desktop {
        display: flex;
    }

    .desktop__sidebar {
        display: none;
    }
    .desktop__content {
        width: 100%;
        max-width: inherit;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        flex-grow: 1;
    }
}
