:root {
    --background: #177fac;
    --foreground: #171717;
    --cyan: #00ffff;
    --statusbar-bg: #113e67;
    --titlebar-bg: #00ffff66;
    --box-bg: #1d6188d9;
    --text-color: white;
}

/* Variable Fonts */
@font-face {
    font-family: "RedHatText";
    src: url("/fonts/RedHatText-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatDisplay";
    src: url("/fonts/RedHatDisplay-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatMono";
    src: url("/fonts/RedHatMono-VariableFont_wght.woff2")
        format("woff2-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > div.desktop {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(auto, 4fr);
    gap: 64px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 64px;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
