.filelinks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
    grid-template-rows: repeat(auto-fill, 108px);
    gap: 2.2rem;
}

.filelink {
    color: white;
    font-family: "RedHatDisplay", sans-serif !important;
    line-height: 1;
    width: 100%;
    min-width: 96px;

    text-align: center;
}
.filelink__filename {
    margin-top: 8px;
    max-width: inherit;
    text-overflow: ellipsis;
}
