.titlebar {
    background-color: var(--titlebar-bg);
    color: white;
    border: 1px solid var(--cyan);
    width: 100%;
    max-width: inherit;
    box-sizing: border-box;
    font-family: "RedHatMono", monospace;
    font-size: 1em;
    font-weight: 650;
    flex-shrink: 0;
}

.titlebar p {
    margin: 0;
}

.titleThing {
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 0 0 0px;
    flex: 1 1 auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.titleThing:first-child {
    margin-right: 8px;
}

.titlebar__buttons {
    float: right;
}

.titlebar__button {
    display: inline;
    vertical-align: middle;
    margin-right: 4px;
}

.titlebar__button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.titlebar__button:active {
    filter: brightness(90%);
    cursor: pointer;
}

.titlebar.footer {
    padding: 2px 12px;
    text-align: right;
}

.sideWindow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling */
}

.prose {
    height: fit-content;
    /* margin: 46px; */
}

.contentBox {
    color: white;
    background-color: var(--box-bg);
    border: 1px solid var(--cyan);
    box-sizing: border-box;
    width: 100%;
    padding: 24px 48px;
    height: 100%;
    flex: 1;
    overflow-y: auto;
    /* Text */
    overflow: auto;
    overflow-wrap: break-word;
    hyphens: auto;
}

footer.titlebar {
    padding: 12px 12px;
    text-align: right;
}

.popupWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-family: "RedHatMono", monospace;
    line-height: 1.5;
}

.popupWindow .contentBox {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 48px 32px;
}

@media only screen and (max-width: 960px) {
    .sideWindow {
        width: 100%;
        height: 100%;
    }
    .contentBox {
        padding: 0;
    }
}
