---
import BaseHead from '../components/BaseHead.astro';

import Card from "../components/Card.astro"

const { title, description } = Astro.props;

import '../styles/pages/links.css'
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

    <body>
        <main>
            <Card />

        </main>
    </body>
</html>
