/* Paint Card */
.paint__card {
    width: stretch;
    border: 1px solid black;
    padding: 8px;
}

.paint__card > img {
    width: 100%;
    height: auto;
}

.paint__name {
    text-transform: uppercase;
}

.paint__properties {
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 8px;
}

.paint__box {
    border: 1px solid black;
    padding: 4px;
}

.pigments > span {
    margin-left: 1ch;
}

.series {
    margin-left: auto;
}

.seriesBox {
    align-items: center;
    border: 1px solid black;
    padding: 2px 1px;
    gap: 4px;
    font-size: 18px;
}

.paints__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 18px;
}

/* Paints Filter */
.paints__filter {
    display: flex;
    gap: 8px;
    border: 1px solid black;
    width: stretch;
    padding: 8px 12px;
    margin-bottom: 18px;
}

.paints__filter__group {
    display: flex;
    gap: 8px;
}

/* Series */
.filter__btn {
    border: 1px solid black;
    background-color: white;
    padding: 0 8px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
    cursor: pointer;
}

.filter__btn:hover {
    box-shadow: 0 0 0 1px var(--hb-red);
    border: 1px solid var(--hb-red);
}

.filter__strike {
    text-decoration: line-through;
}

.filter__selected {
    background-color: var(--hb-red);
    color: white;
}

.paint__pigments {
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: flex-end;
}

.paints__filter > input {
    border: 0;
    border-bottom: 1px solid black;
}
