---
// import { useState } from "react";
// import { SiGithub, SiYoutube } from "@icons-pack/react-simple-icons";
import "../styles/card.css"

// export default function Card() {
//     // const [hover, setHover] = useState<string>("cyan");

//     const mouseEnterHandler = (itemColor: string) => {
//         setHover(itemColor);
//     };

//     const mouseLeaveHandler = () => {
//         setHover("cyan");
//     };
---

<div class="cardContainer">
    <div class="cardSquare"></div>
    <div class="cardBody">
        <div class="cardHeader">
            <h1>
                hexcyan
            </h1>
            <!-- <div onMouseEnter={() => mouseEnterHandler("white")} onMouseLeave={mouseLeaveHandler} class="flex flex-row space-x-2">
                <SiGithub class="cardLinks"/>
                <SiYoutube class="cardLinks"/> 
            </div> -->
        </div>
        <div class="ml-2 space-y-1 mt-2">
            <!-- <h2 onMouseEnter={() => mouseEnterHandler("magenta")} onMouseLeave={mouseLeaveHandler} class="transition-colors duration-500 hover:text-magenta">&gt;projects</h2> -->
            <!-- <h2 onMouseEnter={() => mouseEnterHandler("yellow")} onMouseLeave={mouseLeaveHandler} class="transition-colors duration-500 hover:text-yellow">&gt;blog</h2> -->
        </div>
    </div>

</div>