---
import "../styles/components/card.css"

const icons = await Astro.glob("../assets/icons/*").then(files => {
  return files.map(file => file.default.src);
});

import { pages } from "./config"
---

<div class="cardContainer">
    <div class="cardSquare"></div>
    <div class="cardBody">
        <div class="cardHeader">
            <h1>
                hexcyan
            </h1>

            <div class="socialIcons">
            {
                icons.map(icon => (
                    <img src={icon} class="socialIcon"/>
                ))
            }
            </div>
        </div>
        
        <ul>
            {
                pages.map( page => (
                    <a href={page.name == "home" ? "/" : "/"+page.name}><li>{page.name}</li></a>
                ))
            }
        </ul>
    </div>

</div>