---
import "../styles/components/nameCard.css"
---

<div class="profileGroup">
    <div class="profileHeader">
        <a href="/" class="profileSquare"></a>
        <h1 class="profileName">
            hexcyan
        </h1>
    </div>

    <article class="profileNews">
        <h2>Recent</h2>
    </article>
</div>
