---
import "../styles/components/navbar.css"

import Logo from "../../public/favicon.svg"
import { SITE_PAGES } from "../consts";
---


<nav>
    <ul class="navBar">
        {
            SITE_PAGES.map( page => (
                <a class="navButton" href={page.name == "home" ? "/" : "/"+page.name}><li>{page.name}</li></a>
            ))
        }
        <a class="navButton" href="/links"><li><img src={Logo.src}></li></a>
    </ul>
</nav>