---
import "../styles/navbar.css"

import Logo from "../../public/favicon.svg"
---

<nav>
    <ul class="navBar">
        <a class="navButton" href="/"><li>home</li></a><a class="navButton" href="/blog" ><li>blog</li></a></a>
        <a class="navButton" href="/links"><li><img src={Logo.src}></li></a>
    </ul>
</nav>