---
import "../styles/components/navbar.css"

import Logo from "../../public/favicon.svg"
import { pages } from "./config"
---

<nav>
    <ul class="navBar">
        {
            pages.map( page => (
                <a class="navButton" href={page.name == "home" ? "/" : "/"+page.name}><li>{page.name}</li></a>
            ))
        }
        <a class="navButton" href="/links"><li><img src={Logo.src}></li></a>
    </ul>
</nav>