:root {
    --cyan: #00FFFF;
    --cyant: #00ffff66;
    --bluet: #1d6188be;
    --bluetd: #1f5283be;
}

.profileGroup {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cyan);
    color: white;
    width: 10vw;
    min-width: 280px;
    height: 40vh;
    padding: 0;
    margin-bottom: 12px;
}

.profileSquare {
    display: inline;
    background-color: var(--cyan);
    height: 100%;
    /* width: 40px; */
    aspect-ratio: 1 / 1;
}

.profileName {
    margin: 16px;
}

.profileHeader {
    background-color: var(--cyant);
    border: 1px solid var(--cyan);
    height: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
}

.profileNews {
    background-color: var(--bluet);
    border: 1px solid var(--cyan);
    padding: 14px;
    flex: 1 1 auto;
}
