---
import Header from './Header.astro';
import Footer from './Footer.astro';

import "../styles/components/window.css"
---

<div class="sideWindow">
    <Header />

    <article class="contentBox">
        <div class="prose">
            <slot />
        </div>
    </article>

    <Footer />
</div>