:root {
    --cyan: #00FFFF;
    --cyant: #00ffff66;
    --bluet: #1d6188be;
}

.sideWindow {
  /* background-color: pink; */
  width: 100%;
  max-width: 754px;
  min-width: 354px;
  margin: 48px;
}

.profile {
  background-color: var(--cyant);
  color: white;
  border:1px solid var(--cyan);
  width: 100%;
  max-width: 754px;
  min-width: 314px;
  max-height: 80px;
  padding: 8px;
}

.profileThing {
  display: inline;
}

.titleBar {
  /* max-width: 36rem; */
  /* min-width: 32rem; */
  background-color: var(--cyant);
  color: white;
  border:1px solid var(--cyan);
  width: 100%;
  max-width: 754px;
}

.titleThing {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 4px;
}

.buttons {
  float: right;
}

.button {
  display: inline;
  margin-left: 4px;
}

.button:hover {
  filter: brightness(120%);
}

.button:active {
  filter: brightness(90%);
}

footer.titleBar {
  padding: 4px;
  text-align: right;
}

.navBar {
  /* display:block; */
  /* flex: auto; */
  /* flex-direction: row; */
  max-width: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:1px solid var(--cyan);
  background-color: var(--bluet);
  width: 100%;
  max-width: 754px;
}

/* .navButton:last-child {
  border-right: none;
} */

.navButton {
  border-right:1px solid var(--cyan);
  color: white;
  text-align: center;
  padding: 4px 20px;
  display: inline-block;
}

.navButton::first-letter {
  text-decoration: solid underline cyan;
}

.contentBox {
  padding: 24px;
  /* min-height: 360px; */
  /* inline-size: 18em; */
  overflow: hidden;
  overflow-wrap: break-word;
  hyphens: manual;
  color: white;
  border:1px solid var(--cyan);
  background-color: var(--bluet);
  min-height: 754px;
  width: 100%;
  max-width: 754px;
}