:root {
    --cyan: #00FFFF;
    --cyant: #00ffff66;
    --bluet: #1d6188be;
    --bluetd: #1f5283be;
}

.sideWindow {
  width: 100%;
  max-width: 754px;
  min-width: 354px;
  height: 70vh;
  border:1px solid var(--cyan);
  display: flex;
  flex-flow: column;
}

.titleBar {
  /* max-width: 36rem; */
  /* min-width: 32rem; */
  background-color: var(--cyant);
  color: white;
  border:1px solid var(--cyan);
  width: 100%;
  max-width: inherit;
  box-sizing: border-box;
  /* flex: 10px;  */
  
}

.titleThing {
  vertical-align: middle;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 0px;
  flex: 1 1 auto;
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none; 
}

.titleThing:first-child {
  margin-right: 8px;
}

footer.titleBar {
  padding: 2px 12px;
  text-align: right;
}

.buttons {
  float: right;
}

.button {
  display: inline;
  vertical-align: middle;
  margin-right: 4px;
}

.button:hover {
  filter: brightness(120%);
}

.button:active {
  filter: brightness(90%);
}



.navBar {
  /* display:block; */
  /* flex: auto; */
  /* flex-direction: row; */
  max-width: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:1px solid var(--cyan);
  background-color: var(--bluet);
  width: 100%;
  max-width: inherit;
  box-sizing: border-box;
}

.navButton:hover {
  background-color: var(--bluetd);
}

.navButton {
  border-right:1px solid var(--cyan);
  color: white;
  text-align: center;
  padding: 4px 20px;
  display: inline-block;
}

.navButton::first-letter {
  text-decoration: solid underline cyan;
}

.contentBox {
  /* min-height: 360px; */
  /* inline-size: 18em; */
  overflow: hidden;
  overflow-wrap: break-word;
  hyphens: auto;
  color: white;
  border: 1px solid var(--cyan);
  background-color: var(--bluet);
  width: 100%;
  max-width: inherit;
  padding: 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 24px 48px;
  /* height: 80% */
}